.nav {
  display: flex;
  width: vw;
  background-color: rgb(220, 220, 220);
  overflow: hidden;
  justify-content: center;
  margin-top: 50px;
  padding: 10px;
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0px;
    padding: 0px;
  }
}

.nav_button {
  background-color: #a6a6a6;
  border-radius: 10px;
  padding: 10px;
  float: left;
  list-style-type: none;
  a {
    text-decoration: none;
    color: black;
  }
}

#actu {
  display: flex;
  gap: 10px;
}

#actu_desc {
  width: 40vw;
  min-width: 200px;
  max-width: 300px;
  padding: 5px;
  text-align: justify;
  border: solid black;
}

#actu_desc > #titre {
  font-size: 40px;
  margin: 0px;
  margin-bottom: 10px;
}

#actu_desc > p {
  margin: 0px;
}

#actu_boxes {
  display: flex;
  padding: 20px;
  border: solid black;
  gap: 10px;
  overflow: hidden;
}

.box {
  min-width: 350px;
  height: 500px;
  background-color: grey;
  padding: 10px;
}

#collec {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#collec_left {
  display: block;
  border: solid red;
}

#collec_cards {
  display: flex;
  gap: 10px;
  border: solid black;
  padding: 5px;
}

.collec_box {
  background-color: green;
  width: 300px;
  height: 400px;
  padding: 10px;
  color: white;
}

@media screen and (max-width: 600px) {
  #actu_desc {
    min-width: 150px;
    #titre {
      font-size: 30px;
    }
  }
}
